:root {
  --main-color: #6c63ff;
  --second-color: #f9f7fe;
  --main-font-family: "Playfair Display", serif;
  --second-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--second-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--main-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}
h2 {
  font-size: 64px;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.main {
  background: var(--second-color);
  text-align: center;
  padding: 160px 20px;
}

.main p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.main h2 {
  font-family: var(--main-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.btn-main {
  background: var(--main-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
}

.btn-second {
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
}

.line-between {
  padding: 120px 60px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  .main {
    padding: 80px 20px;
  }

  .line-between {
    padding: 0;
    text-align: center;
  }
}
